body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5c5c5;
}

.d-flex {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-function {
    background-color: #218bfc;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    text-decoration: none;
}

.btn-function:hover {
    background-color: #0056b3;
}

.btn-voltar {
    margin-top: auto;
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-align: center;
}

.btn-voltar:hover {
    background-color: #d32f2f;
}

.content {
    margin-left: 270px; 
    padding: 20px;
    background-color: white;
    width: calc(100% - 270px);
    height: 100vh;
    overflow-y: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    padding: 10px;
    display: block;
    text-decoration: none;

}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.user-menu:hover .dropdown-menu {
    display: block;
}

.social-login h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.social-login {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}


table th, table td {
    text-align: center;
    padding: 10px;
}

button {
    background-color: #218bfc;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}